body {
    font-family: 'proxima_nova';
    font-size: 16px;
}

main.loginMainWrap {
    background: url(../../assets/images/login-bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: auto;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}

main.loginMainWrap .loginBoxWrap {
    max-width: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 40px;
}

.keepMeSignIn {
    width: 68%;
}

.forGotPassword a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.87);
}

.loginBoxWrap .LoginBtn {
    margin-top: 24px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    background: #ff4a4a;
}

.registerHereText p {
    color: #292828;
    text-align: center;
    font-size: 18px;
    margin: 15px 0px 0px;
}

.registerHereText p a {
    color: #ff4a4a;
    text-decoration: none;
    border-bottom: 0.6px solid #ff4a4afc;
}

.loginMainWrap h1 {
    text-align: center;
    margin-bottom: 20px;
}